<h2 class='page-header'>SIGN-IN!</h2>
<a calss="button" href="<%= new_user_url %>">Go to Sign-up!</a>
<form action="<%= session_url %>" method="POST">
<%=auth_token%>
<label for="email">Email:</label>
<input type="text" id="email" name="user[email]">
<label for="password">Password:</label>
<input type="password" id="password" name="user[password]">
<input type="submit" value="Submit">
</form>